/* =============================================================================
Boilerplate by Callum Strong
Version: 0.0.9
URL: https://github.com/csscallum/Boilerplate
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
============================================================================= */
/* Mixins - Setup some handy, resuable snippets ============================= */
/* =============================================================================
	Mixins
	========================================================================= */
/* Font Sizing using rem's - http://goo.gl/4ow8e ============================ */
/* As with font-size above, do the same with line-height ==================== */
/* Vertical Gradient with solid colour back-up ============================== */
/* Box-shadow complete with vendor prefixes ================================= */
/* Border-radius containing vendor prefixes and background-clip ============= */
/* Opacity complete with vendor prefixes ==================================== */
/* Generic transition animation ============================================= */
/* Variables - Establish site wide values =================================== */
/* =============================================================================
	Variables
	========================================================================= */
/* Typography =============================================================== */
/* Branding ================================================================= */
/* Normalize - Start with a nice clean cross browser base =================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Typography styling ======================================================= */
/* Default styling for tables =============================================== */
/* Default styling for forms ================================================ */
/* Lightweight snippets for common components =============================== */
/* Manage your sprite with ease ============================================= */
/* ===== Primary Global Styles =================================================
	Author: Callum Strong
	========================================================================= */
/* =============================================================================
   Reusable assets
   ========================================================================== */
/* Header  ========================================================= */
/* Footer  ========================================================= */
/* Page Structure - Home =========================================== */
/* Page Structure - Further ======================================== */
/* Resolve issue in IE10 Windows 8 "Snap Mode" - http://goo.gl/BLXV7 ======== */
@-ms-viewport {
  width: device-width; }

/* Base grid structure - Small phones (portrait) ============================ */
/* Large/landscape smartphones, small tablets =============================== */
/* Tablet (Portrait) - Add Styling for tablet devices ======================= */
/* Desktop/Tablet (landscape) - Add Styling for desktop computers =========== */
/* Large Desktop - Add Styling for large desktop computers ================== */
/* Reusable helper classes such as IR, Clearfix etc. ======================== */
/* Print specific stylesheet ================================================ */
