article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;word-wrap:break-word;}
q{quotes:\201C \201D \2018 \2019;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
body,figure{margin:0;}
legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
a{color:#027f8d;text-decoration:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}
p,h1,h2,h3,h4,h5,h6,hgroup,ul,ol,dd,figure,pre,table,fieldset,legend,hr{margin:0 0 1.5em;}
p{font-size:13px;font-size:0.8125rem;}
h1,h2,h3,h4,h5,h6{font-weight:700;text-rendering:optimizelegibility;}
h1,.h1{margin-bottom:0.75em;}
h2,.h2{margin-bottom:0.75em;}
h3,.h3{font-weight:700;margin-bottom:1em;}
h4,.h4{letter-spacing:1px;margin-bottom:1.5em;text-transform:uppercase;}
h5,.h5{font-weight:700;line-height:1.25;margin-bottom:1.5em;}
h6,.h6{font-weight:700;margin-bottom:1.5em;text-transform:uppercase;}
table{border-collapse:collapse;border-spacing:0;max-width:100%;}
.table{width:100%;}.table th,.table td{padding:8px;text-align:left;vertical-align:top;}
.table th{border-bottom:1px solid rgba(0, 0, 0, 0.15);font-weight:700;}
.table td{border-bottom:1px solid rgba(0, 0, 0, 0.1);}
.table thead th{vertical-align:bottom;}
.table thead{font-size:14px;font-size:0.875rem;}
.table tbody{font-size:13px;font-size:0.8125rem;}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:rgba(0, 0, 0, 0.04);}
.table-striped tbody tr:hover td,.table-striped tbody tr:hover th{background-color:rgba(0, 0, 0, 0.08);}
.table-bordered{border:1px solid rgba(0, 0, 0, 0.1);border-collapse:separate;*border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}.table-bordered th,.table-bordered td{border-left:1px solid rgba(0, 0, 0, 0.1);}
.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 0 0 0;border-radius:4px 0 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-radius:0 4px 0 0;-moz-border-radius:0 4px 0 0;border-radius:0 4px 0 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child,.table-bordered tfoot:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child,.table-bordered tfoot:last-child tr:last-child td:last-child{-webkit-border-radius:0 0 4px 0;-moz-border-radius:0 0 4px 0;border-radius:0 0 4px 0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;}
fieldset{border:0;margin:0;padding:0;}
legend{border:0;border-bottom:1px solid #e5e5e5;display:block;padding:0;width:100%;}
.field,.radio,.actions{margin-bottom:1.5em;}.field:before,.radio:before,.actions:before,.field:after,.radio:after,.actions:after{content:"";display:table;}
.field:after,.radio:after,.actions:after{clear:both;}
.lt-ie9 .field,.lt-ie9 .radio,.lt-ie9 .actions{zoom:1;}
.actions{padding-left:190px;}
label,input,button,select,textarea{font-size:13px;font-size:0.8125rem;}
select,textarea,input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"]{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;display:inline-block;padding:4px 6px;}
input,textarea{width:220px;}
textarea,input[type="text"],input[type="password"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"]{background-color:#ffffff;border:1px solid #dddddd;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;transition:all 0.2s ease-out;}textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;}
input[type="radio"],input[type="checkbox"]{cursor:pointer;line-height:normal;margin-top:1px \9;margin:7px 0 0;}
input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]{width:auto;}
select{background-color:#ffffff;border:1px solid #dddddd;width:220px;}
select[multiple],select[size]{height:auto;}
.form-horizontal label{display:inline-block;margin-right:10px;text-align:right;width:180px;}
.checkbox,.radio{padding-left:190px;}.checkbox input[type="checkbox"],.radio input[type="checkbox"]{float:left;margin-right:4px;}
.checkbox label,.radio label{text-align:left;width:auto;}
.checkbox--list .option input,.radio--list .option input{display:inline;margin-left:190px;}
.checkbox--list .option label,.radio--list .option label{text-align:left;width:auto;}
.breadcrumb li{display:inline;}.breadcrumb li+li:before{content:"» ";}
.breadcrumb--path li{display:inline;}.breadcrumb--path li+li:before{content:"/ ";}
html,body{color:#333333;font-family:'Droid Sans',sans-serif;font-size:16px;font-weight:400;line-height:1.5em;}
@-ms-viewport {width:device-width;}.wrapper{margin:0 10px;}
.row:before,.row:after{content:"";display:table;}
.row:after{clear:both;}
.lt-ie9 .row{zoom:1;}
.row [class*="mob-"]{display:block;float:left;margin-left:2.127659574%;min-height:30px;width:100%;}
.row [class*="mob-"]:first-child{margin-left:0;}
.row .mob-3{width:100%;}
.row .mob-2{width:65.95744680199999%;}
.row .mob-1{width:31.914893614%;}
@media only screen and (min-width:32.438em){.row [class*="tp-"]{display:block;float:left;margin-left:2.127659574%;min-height:30px;width:100%;} .row [class*="tp-"]:first-child{margin-left:0;} .row .tp-6{width:100%;} .row .tp-5{width:82.6086956521739%;} .row .tp-4{width:65.21739130434783%;} .row .tp-3{width:47.826086956521735%;} .row .tp-2{width:30.43478260869565%;} .row .tp-1{width:13.043478260869565%;}}@media only screen and (min-width:47.5em){.row [class*="tl-"]{display:block;float:left;margin-left:3.8461538461538463%;min-height:30px;width:100%;} .row [class*="tl-"]:first-child{margin-left:0;} .row .tl-9{width:100%;} .row .tl-8{width:88.46153846153847%;} .row .tl-7{width:76.92307692307692%;} .row .tl-6{width:65.38461538461539%;} .row .tl-5{width:53.84615384615385%;} .row .tl-4{width:42.30769230769231%;} .row .tl-3{width:30.76923076923077%;} .row .tl-2{width:19.23076923076923%;} .row .tl-1{width:7.6923076923076925%;}}@media only screen and (min-width:60em){.wrapper{margin:auto;width:85%;} .row [class*="span-"]{display:block;float:left;margin-left:2.564102564102564%;*margin-left:2.5109110747408616%;min-height:30px;width:100%;} .row [class*="span-"]:first-child{margin-left:0;} .row .span-12{width:100%;*width:99.94680851063829%;} .row .span-11{width:91.45299145299145%;*width:91.39979996362975%;} .row .span-10{width:82.90598290598291%;*width:82.8527914166212%;} .row .span-9{width:74.35897435897436%;*width:74.30578286961266%;} .row .span-8{width:65.81196581196582%;*width:65.75877432260411%;} .row .span-7{width:57.26495726495726%;*width:57.21176577559556%;} .row .span-6{width:48.717948717948715%;*width:48.664757228587014%;} .row .span-5{width:40.17094017094017%;*width:40.11774868157847%;} .row .span-4{width:31.623931623931625%;*width:31.570740134569924%;} .row .span-3{width:23.076923076923077%;*width:23.023731587561375%;} .row .span-2{width:14.52991452991453%;*width:14.476723040552828%;} .row .span-1{width:5.982905982905983%;*width:5.929714493544281%;}}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
img{height:auto;max-width:100%;}
.invisible{visibility:hidden;}
li>ul,li>ol{margin-bottom:0;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
