/* =============================================================================
	Components
	========================================================================= */

// Breadcrumbs for navigation
.breadcrumb li {
    display: inline;

	+li:before {
	    content:"\00BB ";
	}
}

// Breadcrumbs for path/progress
.breadcrumb--path li {
    display: inline;

	+li:before {
	    content:"/ ";
	}
}

// Horizontal definition list
.dl-horizontal {
	@include cf;

	dt {
		clear: left;
		float: left;
		text-align: right;
		width: 20%;
	}
	dl {
		margin-left: 22%; /* dt width + a little margin for spacing */
	}
}

// Base Tabs structure
.tabs {
	margin-bottom: $baseline;

	> ul {
		margin: 0;
		padding: 0;

		li {
			border: 1px solid #CCC;
			display: inline-block;
			list-style: none;
			&.active {
				border-bottom-color: #FFF;
			}
		}
		a {
			display: block;
			padding: $baseline / 2;
		}
	}
	> div {
		border: 1px solid #CCC;
		margin-top: -1px;
		padding: $baseline / 2;
	}
}

// Full width tabs with fluid widths
.tabs--full-width {
	> ul {
		display: table;
		position: relative;
		width: 100%;
		z-index: 1;

		li {
			display: table-cell;
			text-align: center;
			margin-left: $baseline / 2;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

/* =============================================================================
	Interactions
	========================================================================= */

// Alerts
.alert {
	background: lighten($warning, 5);
	border: 1px solid $warning;
	border-radius: 4px;
	color: darken($warning, 40);
	margin-bottom: $baseline;
	padding: $baseline / 2;

	button {
		background: none repeat scroll 0 0 transparent;
    	border: 0 none;
    	cursor: pointer;
    	float: right;
    	@include font-size(20);
    	font-weight: $bold;
    	opacity: 0.4;
    	padding: 0;

    	&:hover {
    		opacity: 0.75;
    	}
    }
}

.alert--error {
	background: lighten($error, 10);
	border-color: $error;
	color: darken($error, 40);
}

.alert--success {
	background: lighten($success, 10);
	border-color: $success;
	color: darken($success, 40);
}

.alert--information {
	background: lighten($information, 10);
	border-color: $information;
	color: darken($information, 30);
}