/* =============================================================================
	Components
	========================================================================= */

// Breadcrumbs for navigation
.breadcrumb li {
    display: inline;

	+li:before {
	    content:"» ";
	}
}

// Breadcrumbs for path/progress
.breadcrumb--path li {
    display: inline;

	+li:before {
	    content:"/ ";
	}
}

// Horizontal definition list
.dl-horizontal {
	@include cf;

	dt {
		clear: left;
		float: left;
		text-align: right;
		width: 20%;
	}
	dl {
		margin-left: 22%; /* dt width + a little margin for spacing */
	}
}