/* =============================================================================
	Mixins
	========================================================================= */

/* Font Sizing using rem's - http://goo.gl/4ow8e ============================ */
@mixin font-size($sizeValue){
	$pxValue: $sizeValue;
	$remValue: ($sizeValue / $basefontsize);
	font-size: ($pxValue) + px;
	font-size: ($remValue) + rem;
}

/* As with font-size above, do the same with line-height ==================== */
@mixin line-height($sizeValue){
	$pxValue: $sizeValue;
	$remValue: ($sizeValue / $basefontsize);
	line-height: ($pxValue) + px;
	line-height: ($remValue) + rem;
}

/* Vertical Gradient with solid colour back-up ============================== */
@mixin gradient($color: #F5F5F5, $start-color: #EEE, $end-color: #FFF) {
	background-color: $color;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from($start-color), to($end-color)); /* Konqueror */
	background-image: -moz-linear-gradient($start-color, $end-color); /* FF 3.6+ */
	background-image: -ms-linear-gradient($start-color, $end-color); /* IE10 */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $start-color), color-stop(100%, $end-color)); /* Safari 4+, Chrome 2+ */
	background-image: -webkit-linear-gradient($start-color, $end-color); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient($start-color, $end-color); /* Opera 11.10 */
	background-image: -ms-linear-gradient(top, $start-color 0%, $end-color 100%); /* IE10+ */
	background-image: linear-gradient($start-color, $end-color); /* the standard */
}

/* Box-shadow complete with vendor prefixes ================================= */
@mixin box-shadow($arguments){
	-webkit-box-shadow: $arguments;
	   -moz-box-shadow: $arguments;
	    	box-shadow: $arguments;
}

/* Border-radius containing vendor prefixes and background-clip ============= */
@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* Opacity complete with vendor prefixes ==================================== */
@mixin opacity($opacity: 0.5) {
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	-webkit-opacity: $opacity;
	opacity: $opacity;
}

/* Generic transition animation ============================================= */
@mixin transition($duration:0.2s, $ease:ease-out) {
	-webkit-transition: all $duration $ease;
	-moz-transition: all $duration $ease;
	transition: all $duration $ease;
}