/* =============================================================================
	Scaffolding - Small screens: 3 Column
	========================================================================= */

.wrapper {
	margin: 0 10px;
}
.row {
	@include cf;
}
.row [class*="mob-"] {
	display: block;
	float: left;
	margin-left: 2.127659574%;
	min-height: 30px;
	width: 100%;
}
.row [class*="mob-"]:first-child {
	margin-left: 0;
}
.row .mob-3 {
	width: 100%;
}
.row .mob-2 {
	width: 65.95744680199999%;
}
.row .mob-1 {
	width: 31.914893614%;
}

@media only screen and (min-width: $tablet-small) {
	.row [class*="tp-"] {
		display: block;
		float: left;
		margin-left: 2.127659574%;
		min-height: 30px;
		width: 100%;
	}
	.row [class*="tp-"]:first-child {
		margin-left: 0;
	}
	.row .tp-6 {
		width: 100%;
	}
	.row .tp-5 {
		width: 82.6086956521739%;
	}
	.row .tp-4 {
		width: 65.21739130434783%;
	}
	.row .tp-3 {
		width: 47.826086956521735%;
	}
	.row .tp-2 {
		width: 30.43478260869565%;
	}
	.row .tp-1 {
		width: 13.043478260869565%;
	}
}

@media only screen and (min-width: $tablet) {
	.row [class*="tl-"] {
		display: block;
		float: left;
		margin-left: 3.8461538461538463%;
		min-height: 30px;
		width: 100%;
	}
	.row [class*="tl-"]:first-child {
		margin-left: 0;
	}
	.row .tl-9 {
		width: 100%;
	}
	.row .tl-8 {
		width: 88.46153846153847%;
	}
	.row .tl-7 {
		width: 76.92307692307692%;
	}
	.row .tl-6 {
		width: 65.38461538461539%;
	}
	.row .tl-5 {
		width: 53.84615384615385%;
	}
	.row .tl-4 {
		width: 42.30769230769231%;
	}
	.row .tl-3 {
		width: 30.76923076923077%;
	}
	.row .tl-2 {
		width: 19.23076923076923%;
	}
	.row .tl-1 {
		width: 7.6923076923076925%;
	}
}

@media only screen and (min-width: $desktop-small) {
	.wrapper {
		margin: auto;
		width: 85%
	}

	.row [class*="dt-"] {
		display: block;
		float: left;
		margin-left: 2.564102564102564%;
		min-height: 30px;
		width: 100%;
	}
	.row [class*="dt-"]:first-child {
		margin-left: 0;
	}
	.row .dt-12 {
	    width: 100%;
	}
	.row .dt-11 {
	    width: 91.45299145299145%;
	}
	.row .dt-10 {
	    width: 82.90598290598291%;
	}
	.row .dt-9 {
	    width: 74.35897435897436%;
	}
	.row .dt-8 {
	    width: 65.81196581196582%;
	}
	.row .dt-7 {
	    width: 57.26495726495726%;
	}
	.row .dt-6 {
	    width: 48.717948717948715%;
	}
	.row .dt-5 {
	    width: 40.17094017094017%;
	}
	.row .dt-4 {
	    width: 31.623931623931625%;
	}
	.row .dt-3 {
	    width: 23.076923076923077%;
	}
	.row .dt-2 {
	    width: 14.52991452991453%;
	}
	.row .dt-1 {
	    width: 5.982905982905983%;
	}
}