/* =============================================================================
	Scaffolding
	========================================================================= */

$gutter: 2%;

@mixin col($cols, $span) {
	width: ( (100/$cols) * $span) - ( ( ((100 / ((100/$cols) * $span)) - 1) * $gutter ) / ( $cols / $span ) )
}

.wrapper {
	margin: 0 10px;
}

@media only screen and (min-width: $tablet-small) {

}

@media only screen and (min-width: $tablet) {

}

@media only screen and (min-width: $desktop-small) {
	.wrapper {
		margin: auto;
		width: 85%
	}
	[class*="dt-"] {
		display: block;
		float: left;
		margin-left: $gutter;
	}
	[class*="dt-"]:first-child,
	.alpha,
	.dt-12 {
		clear: left;
		margin-left: 0;
	}
	.dt-12 {
		float: none;
		width: 100%;
	}
	.dt-11 {
		@include col(12, 11);
	}
	.dt-10 {
		@include col(12, 10);
	}
	.dt-9 {
		@include col(12, 9);
	}
	.dt-8 {
		@include col(12, 8);
	}
	.dt-7 {
		@include col(12, 7);
	}
	.dt-6 {
		@include col(12, 6);
	}
	.dt-5 {
		@include col(12, 5);
	}
	.dt-4 {
		@include col(12, 4);
	}
	.dt-3 {
		@include col(12, 3);
	}
	.dt-2 {
		@include col(12, 2);
	}
	.dt-1 {
		@include col(12, 1);
	}
}