/* =============================================================================
	Sprite
	========================================================================= */

$spriteImg		: url(../img/sprite.png);
$gridSize		: 32; // px

@mixin sprite($x, $y) {
	$x-pos: $x * $gridSize;
	$y-pos: $y * $gridSize;
   	background-position: (-$x-pos + px) (-$y-pos + px);
}


// Check if sprite path has been defined
@if $spriteImg != "" {
	.icn {
		background-image: $spriteImg;
		background-repeat: no-repeat;
		height: $gridSize + px;
		width: $gridSize + px;
	}
}

.icn {
	display: inline-block;
	@include ir;
}

.icn--flight {
	@include sprite(0, 0);
}