/* =============================================================================
    Variables
    ========================================================================= */

/* Branding ================================================================= */

$primary        : #03AA8C;
$secondary      : #3381AF;
$alt1           : #8A0F14;
$alt2           : #C65022;

$selection      : $primary;
$selectionText  : #FFF;

/* Typography =============================================================== */

$basefont           : 'Roboto', sans-serif;
$basefontsize       : 16; //px
$basefontcolour     : #333;
$baseline           : 1.5;
$basemargin         : 16px;
$regular            : 400;
$medium             : 500;
$bold               : 700;

$seriffont          : serif;
$headerfont         : $basefont;

/* Links ==================================================================== */

$linkcolor          : $secondary;
$linkcolorhover     : darken($linkcolor, 10);
$linkcolorvisited   : $linkcolorhover;
$linkcolorfocus     : darken($linkcolorhover, 10);

$error          : #F29DA8;
$warning        : #FAE4B8;
$success        : #9FD392;
$information    : #6EBDE5;

/* Grid Structure =========================================================== */

$gutter     : 3.125%; // 3.125% of 960px = 30px
$min-width  : 960px;  // For desktops > 1024px
$max-width  : 1440px;
$width      : 85%;

/* Media Queries ============================================================ */
// Don't necessarily stick to these, consider content-related breakpoints

$alpha      : 32.438em; // Large/landscape smartphones, small tablets
$beta       : 47.5em;   // Tablet (Portrait) - Add Styling for tablet devices
$gamma      : 60em;     // Desktop/Tablet (landscape) - Add Styling for desktop computers
$delta      : 86.375em; // Large Desktop - Add Styling for large desktop computers

/* Tables =================================================================== */

$tableHeaderBorder      : 1px solid rgba(0,0,0,.15);
$tableRowBorder         : 1px solid rgba(0,0,0,.1);
$tableRowBackground     : rgba(0,0,0,.04);
$tableRowHover          : rgba(0,0,0,.08);

/* Forms ==================================================================== */

$inputBorder        : #DDD;
$inputBackground    : #FFF;
$inputWidth         : 220px;
$labelWidth         : 180px;
$inputfocusshadow   : inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
$inputfocusborder   : rgba(82,168,236,.8);
$inputfocusborderie : #52a8ec;