/* =============================================================================
Boilerplate by Callum Strong
Version: 0.0.9
URL: https://github.com/csscallum/Boilerplate
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
============================================================================= */

/* Mixins - Setup some handy, resuable snippets ============================= */
@import "mixins";

/* Variables - Establish site wide values =================================== */
@import "variables";

/* Normalize - Start with a nice clean cross browser base =================== */
@import "normalize";

/* Typography styling ======================================================= */
@import "typography";

/* Default styling for tables =============================================== */
@import "tables";

/* Reusable helper classes such as IR, Clearfix etc. ======================== */
@import "helpers";

/* Default styling for forms ================================================ */
@import "forms";

/* Lightweight snippets for common components =============================== */
@import "components";

/* Manage your sprite with ease ============================================= */
@import "sprite";

/* ===== Primary Global Styles =================================================
	Author: Callum Strong
	========================================================================= */

html, body {
	color: $textcolor;
	font-family: $basefont;
	font-size: 16px;
	font-weight: $regular;
	line-height: $baseline;
}


/* =============================================================================
   Reusable assets
   ========================================================================== */


/* Header  ========================================================= */

/* Footer  ========================================================= */

/* Page Structure - Home =========================================== */

/* Page Structure - Further ======================================== */


/* Resolve issue in IE10 Windows 8 "Snap Mode" - http://goo.gl/BLXV7 ======== */
@-ms-viewport{
    width: device-width;
}

/* Base grid structure - Small phones (portrait) ============================ */
@import "scaffolding-small";

/* Large/landscape smartphones, small tablets =============================== */
@media only screen and (min-width: 32.438em) {
	@import "519andup";
	@import "scaffolding-tablet-portrait";
}

/* Tablet (Portrait) - Add Styling for tablet devices ======================= */
@media only screen and (min-width: 47.5em) {
	@import "760andup";
	@import "scaffolding-tablet-landscape";
}

/* Desktop/Tablet (landscape) - Add Styling for desktop computers =========== */
@media only screen and (min-width: 60em) {
	@import "960andup";
	@import "scaffolding-desktop";
}

/* Large Desktop - Add Styling for large desktop computers ================== */
@media only screen and (min-width: 86.375em) {
	@import "1382andup";
}

/* Print specific stylesheet ================================================ */
@import "print";