@charset "UTF-8";

/* =============================================================================
Boilerplate by Callum Strong
Version: 0.2.4
URL: https://github.com/csscallum/Boilerplate
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0
============================================================================= */


/* Mixins - Setup some handy, resuable snippets ============================= */
@import "mixins";

/* Variables - Establish site wide values =================================== */
@import "variables";

/* Normalize - Start with a nice clean cross browser base =================== */
@import "normalize";

/* Reusable helper classes such as IR, Clearfix etc. ======================== */
@import "helpers";

/* Typography styling ======================================================= */
@import "typography";

/* Responsive navigation ==================================================== */
@import "navigation";

/* Button styles ============================================================ */
@import "buttons";

/* Default styling for tables =============================================== */
@import "tables";

/* Default styling for forms ================================================ */
@import "forms";

/* Lightweight snippets for common components =============================== */
@import "components";

/* Manage your sprite with ease ============================================= */
@import "sprite";

/* ===== Primary Global Styles =================================================
	Author: Callum Strong
	========================================================================= */

html, body {
	color: $basefontcolour;
	font-family: $basefont;
	font-size: $basefontsize;
	font-weight: $regular;
	line-height: $baseline;
}

/* =============================================================================
   Reusable assets
   ========================================================================== */

/* Header  ========================================================= */

/* Footer  ========================================================= */

/* Page Structure - Home =========================================== */

/* Page Structure - Further (or type) ============================== */

/* Resolve issue in IE10 Windows 8 "Snap Mode" - http://goo.gl/BLXV7 ======== */
@-ms-viewport{
    width: device-width;
}

/* Base grid structure ====================================================== */
@import "scaffolding";

/* Large/landscape smartphones, small tablets =============================== */
@media only screen and (min-width: $tablet-small) {
	@import "519andup";
}

/* Tablet (Portrait) - Add Styling for tablet devices ======================= */
@media only screen and (min-width: $tablet) {
	@import "760andup";
}

/* Desktop/Tablet (landscape) - Add Styling for desktop computers =========== */
@media only screen and (min-width: $desktop-small) {
	@import "960andup";
}

/* Large Desktop - Add Styling for large desktop computers ================== */
@media only screen and (min-width: $desktop-large) {
	@import "1382andup";
}

/* Print specific stylesheet ================================================ */
@import "print";