/* =============================================================================
    Forms - Portrait tablets devices and up
    ========================================================================= */

.form--horizontal {
    label {
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
        width: $labelWidth;
    }
    .input {
        display: inline-block;
    }
}
.actions {
    padding-left: $labelWidth + 10px;
}