/* =============================================================================
   Media Queries
   ========================================================================== */

/* Small screens */
@media screen and (max-device-width: 480px), screen and (max-width: 600px) {
	/* Prevent iOS and Windows Mobile font-size changes */
	html {
		-ms-text-size-adjust: none;
		-webkit-text-size-adjust: none;
	}
	.wrapper {
		margin: auto;
		width: 95%;
	}
	.row [class*="span"] {
	    margin-left: 0;
	    width: 100%;
	}


	[role="navigation"] {
		padding: 10px 0;
	}
		[role="navigation"] li {
			display: block;
			margin: 0 10px;
		}
			[role="navigation"] a {
				background: darken(@lightgrey, 10);
				display: block;
				margin-bottom: 1px;
				padding: 5px 10px;
			}
			[role="navigation"] a:hover, [role="navigation"] a:focus {
				background: darken(@lightgrey, 5);
			}
}

/* Tablet(-type) devices */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
	.wrapper {
		margin: auto;
		width: 95%;
	}
}


/* Desktop */
@media only screen and (min-width: 1024px) {
	.wrapper {
		min-width: 980px;
		margin: auto;
		max-width: 1400px;
		width: 85%;
	}
}
                                                  