/* =============================================================================
	Scaffolding - Tablet, landscape: 9 column
	========================================================================= */

.row [class*="tl-"] {
	display: block;
	float: left;
	margin-left: 3.8461538461538463%;
	*margin-left: 3.782051282051282%;
	min-height: 30px;
	width: 100%;
}
.row [class*="tl-"]:first-child {
	margin-left: 0;
}
.row .tl-9 {
	width: 100%;
	*width: 99.93589743589743%;
}
.row .tl-8 {
	width: 88.46153846153847%;
	*width: 88.3974358974359%;
}
.row .tl-7 {
	width: 76.92307692307692%;
	*width: 76.85897435897435%;
}
.row .tl-6 {
	width: 65.38461538461539%;
	*width: 65.32051282051282%;
}
.row .tl-5 {
	width: 53.84615384615385%;
	*width: 53.782051282051285%;
}
.row .tl-4 {
	width: 42.30769230769231%;
	*width: 42.243589743589745%;
}
.row .tl-3 {
	width: 30.76923076923077%;
	*width: 30.705128205128204%;
}
.row .tl-2 {
	width: 19.23076923076923%;
	*width: 19.166666666666664%;
}
.row .tl-1 {
	width: 7.6923076923076925%;
	*width: 7.628205128205129%;
}