/* =============================================================================
	Scaffolding - Tablet, portrait: 6 column
	========================================================================= */

.row [class*="tp-"] {
	display: block;
	float: left;
	margin-left: 2.127659574%;
	min-height: 30px;
	width: 100%; 
}
.row [class*="tp-"]:first-child {
	margin-left: 0;
}
.row .tp-6 {
	width: 100%;
}
.row .tp-5 {
	width: 82.6086956521739%;
}
.row .tp-4 {
	width: 65.21739130434783%;
}
.row .tp-3 {
	width: 47.826086956521735%;
}
.row .tp-2 {
	width: 30.43478260869565%;
}
.row .tp-1 {
	width: 13.043478260869565%;
}