@import "variables.less";
@import "normalize.less";
@import "scaffolding.less";
@import "mixins.less";

/* ===== Primary Styles ========================================================
   Author: Callum Strong
   ========================================================================== */

body {
	.bodyfont;
}

/* Header  ========================================================= */

[role="navigation"] {
	background: @lightgrey;
	.rounded(4px);
}
	[role="navigation"] li {
		display: inline;
		margin: 10px 20px;
	}

/* Footer  ========================================================= */

/* Page Structure - Home =========================================== */


/* Page Structure - Further ======================================== */


@import "typography.less";
@import "media-queries.less";
@import "helpers.less";
@import "print.less";
