/* =============================================================================
	Typography
	========================================================================= */

a {
	color: @linkcolor;
	text-decoration: none;
	.transition;
}
a:hover {
	color: darken(@linkcolor, 10);	
}
a:visited {
	color: @linkcolorvisited;
}
a:focus {
	color: @linkcolorfocus;
}

/* Copy ===================================================================== */

p {
	
}

/* Headings ================================================================= */

h1, h2, h3, h4, h5, h6 {
	.headerfont;
}

h1, .h1 { 
	border-bottom: 1px solid #CCC;
	padding: 15px 0 31px;
}

h2, .h2 { 
	margin-bottom: @baseline / 2;
}

h3, .h3 { 
	color: @blue;
	font-weight: @bold;
	margin-bottom: @baseline / 1.5;
}

h4, .h4 { 
	letter-spacing: 1px;
	margin-bottom: @baseline;
	text-transform: uppercase;
}

h5, .h5 { 
	font-weight: @bold;
	line-height: 1.25;
	margin-bottom: @baseline;
}

h6, .h6 { 
	font-weight: @bold;
	margin-bottom: @baseline;
}