/* Typography =================================================== */

// COPY ========================================================

p {
	font-size: 0.813em;
}


// HEADINGS ====================================================

h1, h2, h3, h4, h5, h6 {
	.headerfont;
}

h1, .h1 { 
	border-bottom: 1px solid #CCC;
	font-size: 1.563em;
	font-weight: 300;
	margin-bottom: @baseline / 2;
	padding: 15px 0 31px;
}

h2, .h2 { 
	margin-bottom: @baseline / 2;
	font-size: 1.25em;
	line-height: 1.2;
}

h3, .h3 { 
	color: @blue;
	font-size: 1.125em;
	font-weight: 200;
	margin-bottom: @baseline / 1.5;
	line-height: 1.3;
}

h4, .h4 { 
	margin-bottom: @baseline;
	font-size: 0.813em;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.25;
	text-transform: uppercase;
}

h5, .h5 { 
	font-size: 0.813em;
	line-height: 1.25;
	margin-bottom: @baseline;
}

h6, .h6 { 
	font-size: 0.813em;
	margin-bottom: @baseline;
}