/* ==== Typography ======================================*/

@basefont: 'Droid Sans', sans-serif;
@basefontsize: 62.5%;
@baseline: 1.5em;
@regular: 400;
@bold: 700;

.bodyfont {
	color: @textcolor;
	font-family: @basefont;
	font-size: @basefontsize;
	font-weight: @regular;
	line-height: @baseline;
}

.headerfont {
	font-weight: @regular;
	text-rendering: optimizelegibility;
}

/* ==== Colours =========================================*/

@textcolor		: #333;
@linkcolor 		: #027F8D;	  

@lightgrey		: #EEE;
@darkgrey		: #666;
@blue			: #247FC4;

@selection		: @blue;
@selectionText	: #FFF;

// Links
@linkcolorhover 	: darken(@linkcolor, 10);
@linkcolorvisited 	: @linkcolorhover;
@linkcolorfocus 	: darken(@linkcolorhover, 10);

// colour palettes
@alertcolor 		: rgb(252,248,227);
@errorcolor 		: rgb(218,79,73);
@dangercolor 		: rgb(218,79,73);
@infocolor 			: rgb(217,237,247);
@inverscolor 		: rgb(65,65,65);
@successcolor 		: rgb(91,183,91);
@warningcolor 		: rgb(250,167,50);