/* =============================================================================
    Grid - Small screens and up
    ========================================================================= */

.wrapper {
    margin: auto;
    padding: 0 $basemargin;
}

[class*="mob-"] {
    display: block;
    float: left;
    margin-left: $gutter;
}
[class*="mob-"]:first-child,
.alpha,
.mob-4 {
    clear: left;
    margin-left: 0;
}
.mob-4 {
    float: none;
    width: 100%;
}
.mob-3 {
    @include col(4, 3);
}
.mob-2 {
    @include col(4, 2);
}
.mob-1 {
    @include col(4, 1);
}