/* =============================================================================
    Footer - Small screens and up
    ========================================================================= */

.footer {
    background: $secondary;
    color: #FFF;
    margin: $basemargin (-$basemargin) 0;
    padding: $basemargin;
}