/* =============================================================================
    Typography - Landscape tablets, small desktop/laptops and up

     - Headings
     - Paragraphs

    ========================================================================= */

/* 1) Headings ============================================================== */

h1, .h1 {
    font-size: 3em;
    line-height: 1.05em;
}

h2, .h2 {
    font-size: 2.25em;
}

h3, .h3 {
    font-size: 1.75em;
}

h4, .h4 {

}

/* 2) Paragraphs ============================================================ */

p {
    line-height: 1.375em;
}