/* =============================================================================
    Links
    ========================================================================= */

a {
    color: $linkcolor;
    text-decoration: none;
    @include transition;

    &:hover {
        color: $linkcolorhover;
    }
}
