/* =============================================================================
    Main
    ========================================================================= */

/* Don't declare font-size here, 16px is the browser default unless the user has
   increased this for accessiblity purposes. Use EM's or REM's ============== */
html {
    color: $basefontcolour;
    font-family: $basefont;
    font-weight: $regular;
    line-height: $baseline;
}