/* =============================================================================
    Border radius containing background clip
    ========================================================================= */

@mixin border-radius($radius: 5px) {
    border-radius: $radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

/* Example

div {
    @include border-radius(4px 0 0 4px);
}

*/