/* =============================================================================
   Tablet (Portrait) - Form styling for tablet devices and up   
   ========================================================================== */

input,
select,
textarea {
    width: $inputWidth;
}

// Make range inputs behave like textual form controls
input[type="range"] {
    width: 100%;
}

.form--horizontal {
    label {
        display: inline-block;
        @include line-height(28);
        margin-right: 10px;
        vertical-align: top;
        width: $labelWidth;
    }
    .input {
        display: inline-block;
    }
}
.actions {
    padding-left: $labelWidth + 14px;
}