/* =============================================================================
    Forms - Base
    ========================================================================= */

form header {
    border-bottom: 1px solid $inputBorder;
    margin-bottom: $basemargin;
}

.field {
    @extend .cf;
    margin-bottom: $basemargin;
}

label,
input,
button,
select,
textarea {
    @include font-size(13);
}

label {
    cursor: pointer;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
    display: inline-block;
    padding: 4px 6px;
}

// Set the height of file controls to match text inputs
input[type="file"],
input[type="range"] {
    display: block;
}

input,
select,
textarea {
    width: 100%;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
    background-color: $inputBackground;
    border: 1px solid $inputBorder;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    @include transition;

    &:focus {
        border-color: $inputfocusborderie;
        border-color: $inputfocusborder;
        @include box-shadow($inputfocusshadow);
        outline: 0;
        outline: thin dotted \9; /* IE6-9 */
    }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin-top: 1px \9; /* IE8-9 */
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto; // Override of generic input selector
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

.actions {
    margin-bottom: $basemargin;
}

.field--radio .input label,
.field--checkbox-list .input label,
.field--radio-list .input label {
    margin: 0 5px 0 ($basemargin / 2);
    text-align: left;
    width: auto;

    &:first-child {
        margin-left: 0;
    }
}