/* =============================================================================
    Tabs
    ========================================================================= */

// Base Tabs structure
.tabs {
    margin-bottom: $basemargin;

    > ul {
        margin: 0;
        padding: 0;

        li {
            border: 1px solid #CCC;
            display: inline-block;
            list-style: none;
            &.active {
                border-bottom-color: #FFF;
            }
        }
        a {
            display: block;
            padding: $basemargin / 2;
        }
    }
    > div {
        border: 1px solid #CCC;
        margin-top: -1px;
        padding: $basemargin;
    }
}

// Full width tabs with fluid widths (include base .tabs class)
.tabs--full-width {
    > ul {
        display: table;
        position: relative;
        width: 100%;
        z-index: 1;

        li {
            display: table-cell;
            text-align: center;
            margin-left: $basemargin / 2;
            &:first-child {
                margin-left: 0;
            }
        }
    }
}