/* =============================================================================
    Header - Small screens and up
    ========================================================================= */

[role="banner"] {
    background: $secondary;
    margin-bottom: $basemargin * 2;
    padding: 1em;
}

.logo {
    color: #FFF;

    &:hover {
        @include animation(1s, 5s, fadeout);
    }
}